In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
##df_new= df[0: 4999]

In [8]:
##df =df_new.drop('link', axis=1).reset_index(drop=True)

In [9]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [10]:
df['text'][0]

"On Armistice Day  \r\nThe Philharmonic will play  \r\nBut the songs that we sing  \r\nWill be sad  \r\nShufflin' brown tunes  \r\nHanging around  \r\n  \r\nNo long drawn blown out excuses  \r\nWere made  \r\nWhen I needed a friend she was there  \r\nJust like an easy chair  \r\n  \r\nArmistice Day  \r\nArmistice Day  \r\nThat's all I really wanted to say  \r\n  \r\nOh I'm weary from waiting  \r\nIn Washington D.C,  \r\nI'm coming to see my Congressman  \r\nBut he's avoiding me  \r\nWeary from waiting down in Washington D.C.  \r\n  \r\nOh Congresswoman  \r\nWon't you tell that Congressman  \r\nI've waited such a long time  \r\nI've about waited all I can  \r\nOh Congresswoman  \r\nWon't you tell that Congressman\r\n\r\n"

In [11]:
df

,artist,song,text
0,Paul Simon,Armistice Day,On Armistice Day \r\nThe Philharmonic will pl...
1,Zac Brown Band,Island Song,Can anybody here pass me a beer \r\nAnd I'ma ...
2,Dave Matthews Band,Out Of My Hands,"Out on the window ledge I don't feel safe, \r..."
3,Rage Against The Machine,Down On The Street,Down on the street where the faces shine \r\n...
4,Waylon Jennings,G.I. Joe,Well he smoked those Camel cigarettes about th...
...,...,...,...
4995,Keith Urban,Right On Back To You,"The rains coming down hard tonight, \r\nPull ..."
4996,Nick Drake,Stuck On You,I don't know much about love \r\nHow it cures...
4997,Squeeze,Bang Bang,I can't stop my heart from beating beating \r...
4998,Barbra Streisand,I Won't Be The One To Let Go,I have dreams for you and me \r\nAnd wishes t...
4999,Bon Jovi,All I Wanna Do Is You,Working hard eight days a week \r\nMost days ...

In [12]:
df.shape

(5000, 3)

In [13]:
df['text']= df['text'].str.lower().replace(r'^\W\S',' ').replace(r'\n',' ',regex = True)

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [15]:
##stemmer = PorterStemmer()

In [16]:
##def tokens(txt):
  ##  nltk.download('punkt')
    ##tokens = nltk.word_tokenize(txt)
    ##a = [stemmer.stem(w) for w in tokens]
    ##return " ".join(a)

In [17]:
##tokens("you are beautiful, beauty")

In [18]:
df['text']=df['text'].apply(lambda x : tokenization(x))

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
tfid= TfidfVectorizer(analyzer='word', stop_words='english')
matrix = tfid.fit_transform(df['text'])
similarity =cosine_similarity(matrix)

In [21]:
##matrix = tfid.fit_transform(df['text'])

In [22]:
##similar =cosine_similarity(matrix)

In [23]:
similarity[0]

array([1.        , 0.01944159, 0.01567291, ..., 0.00529768, 0.03464717,
       0.01514238])

In [24]:
##df[df['song']== 'Negative Creep']

In [25]:
##df[df['song']== 'Bang-A-Boomerang'].index[0]

In [26]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
    
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [27]:
##recommender("Bang-A-Boomerang")

In [28]:
import pickle

pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [29]:
##with open('similarity.pkl','wb') as similar_file:
##    pickle.dump('similarity', similar_file)

In [30]:
##with open('df.pkl','wb') as df_file:
  ##  pickle.dump(df, df_file)